<div
  class="bg-white lg:max-w-4xl mx-auto lg:px-[1rem] px-[0.5rem] pb-[4rem] pt-[2rem] rounded-lg text-[#667085] shadow-lg"
>
  <h1
    class="font-semibold text-2xl lg:text-4xl text-[#0C6FCA] text-center lg:text-left"
  >
    Open Shippit Account
  </h1>
  <h1 class="py-[10px] text-center lg:text-left">
    Register for a Shippit Account
  </h1>
  <form class="flex flex-col gap-2">
    <label for="name" class="text-black"> Name </label>
    <div
      class="border border-gray-200 py-3 px-4 flex justify-between gap-5 rounded-md text-[#667085]"
    >
      John doe
    </div>
    <label for="country" class="text-black"> Country </label>
    <div
      class="border border-gray-200 py-6 px-4 flex justify-between gap-5 rounded-md text-[#667085]"
    ></div>
    <label for="name" class="text-black"> Email Address</label>
    <div
      class="border border-gray-200 py-6 px-4 flex justify-between gap-5 rounded-md text-[#667085]"
    ></div>
    <label for="name" class="text-black"> EORI/VAT number </label>
    <div
      class="border border-gray-200 py-6 px-4 flex justify-between gap-5 rounded-md text-[#667085]"
    ></div>
    <label for="name" class="text-black"> Business ID </label>
    <div
      class="border border-gray-200 py-6 px-4 flex justify-between gap-5 rounded-md text-[#667085]"
    ></div>
    <label for="name" class="text-black"> Password </label>
    <div
      class="border border-[#07950D] py-3 flex justify-between px-2 gap-5 rounded-md text-[#667085]"
    >
      <input type="password" placeholder="********" class="outline-none" />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
        <circle cx="12" cy="12" r="3" />
      </svg>
    </div>
    <label for="name" class="text-black"> Confirm Password </label>
    <div
      class="border border-[#07950D] py-3 flex justify-between px-2 gap-5 rounded-md text-[#667085]"
    >
      <input type="password" placeholder="********" class="outline-none" />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z" />
        <circle cx="12" cy="12" r="3" />
      </svg>
    </div>

    <button type="submit" class="bg-[#1889F1] py-4 text-white rounded-md">
      Next
    </button>
  </form>
</div>
